.group-page
	%section.group-module
		=render partial: 'groups/group_cell', locals: {model: @group}
	%section.topic-module
		-if current_user
			=link_to '创建话题', new_group_topic_path(@group), class: 'btn submit-btn'
		-if @topics.present?
			-@topics.each do |topic|
				=render partial: 'topics/topic_cell', locals: {model: topic}