=form_for @user do |f|
	=render partial:"shared/error_messages", locals: {model: @user}
	.field
		=f.text_field :name, placeHolder: 'user name'
	.field
		=f.email_field :email, placeHolder: 'email'
	.field
		=f.password_field :password, placeHolder: 'password'
	.field
		=f.password_field :password_confirmation, placeHolder: 'password again'
	.field
		=f.submit "创建", class: "submit-btn"