-provide(:title, "Edit profile")
%section#edit_user.module
	%h3 编辑资料
	.row
	=form_for @user do |f|
		=render partial: "shared/error_messages", locals: {model: @user}
		.field
			=f.text_field :name, placeHolder: "user name"
		.field
			=f.email_field :email, placeHolder: "email", disabled: true
			=f.label "email can't change", for: "email"
		.field
			=f.submit "保存", class: "btn submit-btn"
	=gravatar_image_tag(@user.email, alt:"#{@user.email}")
	=link_to "去gravatar改头像", "http://gravatar.com/emails", target: "_blank"
