-provide(:title, @user.name)
.user-page
	.user.module
		=render partial: 'users/user_cell', locals: {model: @user}
		=render 'shared/stats'
		=render 'follow_form' if signed_in?
		%section.action.field
			=link_to "编辑", edit_user_path(@user) if current_user? @user
		-if current_user? @user
			%section.create-post
				=link_to '创建图说', new_post_path, class: 'btn submit-btn'
		.group
			%h4 他的小组
			-if @groups.present?
				%ul
					-@groups.each do |group|
						%li.group-item
							=render partial: 'groups/group', locals: {model: group}
	%section.user-posts
		%div
			%section.his-posts
				-if @recent_posts.present?
					=render partial: 'posts/post_list', locals: {model: @recent_posts}
				-else
					%article
			%section.favorites
				-if @last_likes.present?
					=render partial: 'posts/post_list', locals: {model: @last_likes}
				-else
					%article
		%nav#user-posts-nav
			%ul
				%li.active 
					%h5他创建的
				%li
					%h5他喜欢的
