-provide(:title, 'Profile')
.user-page
	=render partial: 'users/user_cell', locals: {model: @user}
	=render 'shared/stats'
	%section.relation
		=render 'follow_form' if signed_in?
	%section.user-posts
		%section.create-post
		-if current_user? @user
			=link_to '创建图说', new_post_path, class: 'btn btn-primary'
		%h3 我的图说
		-if @recent_posts.present?
			%ul
				%li
					-@recent_posts.each do |item|
						=render partial: "posts/post_cell", locals: {model: item}
			=link_to '更多', user_posts_path(@user)
		%h3 我喜欢的
		-if @last_likes.present?
			=render partial: 'users/likes_feed', locals: {model: @last_likes}
			=link_to '更多', "#{user_path}/favorites"