%article{id:"#{model.id}"}
	=link_to model.title, post_path(model)
	=timeago(model.created_at)
	=image_tag(model.photo)
	=model.content
	=render partial: 'posts/like_post', locals: {model: model}
	-if(current_user && current_user?(model.user))
		=link_to 'delete', model, method: :delete, remote: true, class: 'delete-post'