-provide(:title, @post.title)
.post-page
	.post-wrapper
		%section.post
			=render partial: "posts/post_cell", locals: {model: @post}
			=render partial: "users/user_cell", locals: {model: @user}
	%nav.post-nav
		-if @post.has_pre?
			=link_to post_path(@post.pre_post), class: "pre-post" do 
				%i.fa.fa-chevron-left
		-if @post.has_next?
			=link_to post_path(@post.next_post), class: "next-post" do
				%i.fa.fa-chevron-right
	%comment
		#comment-form
			=render partial: "comments/form", locals: {model: @post}
		.comments
			-if @comments.present?
				%ul
					-@comments.each do |comment|
						%li{id: "comment-#{comment.id}"}
							=render partial: "comments/comment_cell", locals: {model: comment}