-provide(:title, @post.title)
.post-page
	%section.post-info
		=render partial: "posts/post_cell", locals: {model: @post}
	%section.user-info
		%h3 作者信息
		=render partial: "users/user_cell", locals: {model: @user}