// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notification-page{
	position: relative;
	width: 600px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	a.clear{
		position: absolute;
		right: 20px;
		top: 20px;
	}
	ul li{
		padding: 10px 20px;
		border-bottom: 1px dashed #eee;
		width:100%;
		a{
			color: #00f;
		}
	}
}