// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page{
	position: relative;

	.user-posts{
		nav{
			position: absolute;
			right: 51px;
			top: 0;
			ul li {
				padding: 0 11px 0 10px;
				display: block;
				cursor: pointer;
			}
			.active {
				color: #222;
				background: #fff;
				border-right: 2px solid #f55;
			}
		}
	}
	
	.favorites{
		display: none;
	}

}