-provide(:title, 'Home')
.index-page
	-if current_user
		%ul
			-@feed.each do |post|
				%li.feed
					=render partial: "users/user_cell", locals: {model: post.user}
					=render partial: "posts/post_cell", locals: {model: post}
			=will_paginate @feed
		%aside.module
			%h3.greenlight 快速入口
			=link_to '写篇图说', new_post_path, class: 'btn submit-btn'
			%h4 
				我的关注( 
				=link_to current_user.followed_users.count, following_user_path(current_user)
				)
			%ul.follow-list-small.field
				=render partial: 'users/user_list', locals: {model: current_user.followed_users.limit(100)} 
			%h4 我的订阅
			%ul.subscribe-list-small.field
				=render partial: 'users/subscribe_list', locals: {model: current_user.tags} 