-if current_user
	%ul
		-@list.each do |item|
			%li
				=gravatar_image_tag(item.user.email, alt:"#{item.user.email}")
				=link_to item.user.name, user_path(item.user)
				=item.title
				=timeago(item.created_at)
				=image_tag(item.photo)
				=item.content