-provide(:title, 'Home')
-if current_user
	%ul
		-@feed.each do |post|
			%li
				=render partial: "users/user_cell", locals: {model: post.user}
				=render partial: "posts/post_cell", locals: {model: post}
		=will_paginate @feed